
/* This are styles that can used by the Genero Application */

.gbc_style_statcol {
	color: $theme-primary-color !important;
}

.gbc_style_currrow {
	padding: 0px !important;
}

.gbc_style_link > .mt-button {
	border: 0px;
	color: $njm-login-button-background !important;
	background-color: inherit !important;
}

.gbc_style_loginbut > .mt-button {
	border: 0px;
}
.gbc_style_loginbut {
	border-radius: 27px;
	border-style: none;
	text-transform: uppercase;
	font-weight: 700 !important;
	font-size: 16px;
	padding: 0 30px;
	line-height: 55px;
	background-color: $njm-login-button-background !important;
}

.gbc_style_green {
	background-color: $njm-green-button-background !important;
	font-weight: 700 !important;
	color: $theme-primary-color !important;
}

.gbc_style_red {
	background-color: $njm-red-button-background !important;
	font-weight: 700 !important;
	color: $theme-primary-color !important;
}

.gbc_style_rounded > .mt-button {
	border: 0px;
	background-color: inherit;
	color: inherit;
	fill: inherit;
}

.gbc_style_rounded > .mt-button .textimage > .gbc_imageContainer > .gbc_ImageWidget {
	fill: $mt-button-primary-background-color;
}
.gbc_style_rounded > .mt-button:not(.disabled):hover, .gbc_style_rounded > .mt-button[interruptable][interruptable-active]:hover {
  background-color: inherit !important;
  color: inherit !important;
}

.gbc_style_rounded {
	border: 1px solid $mt-button-primary-background-color;
	border-radius: 4px;
  font-weight: 700;
	padding: 3px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	color: $mt-button-primary-background-color;
	fill: $mt-button-primary-background-color !important;
	background-color: inherit;
}


// allow a window to center in the browser
.gbc_style_center {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-position: center !important;
}

/*
// add a border to the form
.gbc_style_formborder {
	margin: 10px;
	box-shadow: 4px 4px 6px $theme-primary-emphasis-background-color;
	border-radius: 2.4px;
}
*/

