
BODY {
	/*font-family: "Lato", Helvetica, Arial, sans-serif; */
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	margin: 0px 0px 0px 0px;
}

// get rid of bookmarks option
.gbc_ApplicationHostMenuBookmarkWidget {
	display: none !important;
}

.vanished {
	max-width: 1px;
}

.mt-field {
	border-radius: 4px;
	box-shadow: none !important;
	border: 1px solid $theme-primary-emphasis-background-color;
	padding: 6px 12px;
	outline: 0;
}

.mt-field:focus {
	border-color: $njm-current-field-focus-border-glow;
	outline-offset: -2px;
}

.mt-field.gbc_Focus {
	border-radius: 4px;
	box-shadow: none;
	border: 1px solid $theme-primary-background-color !important;
	border-bottom: 2px solid $theme-primary-background-color !important;
	box-shadow: 0px 0px 2px 2px #0bf !important;
}

.gbc_ButtonEditWidget > .gbc_ButtonWidget, .gbc_DummyButtonEditWidget > .gbc_ButtonWidget {
	padding: 0;
	border-radius: 0px 4px 4px 0px;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
}
.gbc_ButtonEditWidget.gbc_Focus > .gbc_EditWidget, .gbc_DummyButtonEditWidget.gbc_Focus > .gbc_EditWidget {
	border-radius: 4px 0px 0px 4px;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
}

.mt-toolbar {
	box-shadow: none;
}

.mt-button {
	box-shadow: none;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid $theme-primary-emphasis-background-color;
	background-color: $njm-default-button-background;
	color: $theme-primary-color;
	font-size: 14px;
}	

[__ButtonWidget].mt-button .textimage > .gbc_imageContainer > .gbc_ImageWidget {
	fill: $theme-primary-color;
}

.mt-button:not(.disabled):hover, .mt-button[interruptable][interruptable-active]:hover {
	background-color: $njm-default-button-background-hover !important;
	color: $theme-primary-color !important;
}

.gbc_ButtonWidget.gbc_Focus > .mt-button
{
	background-color: inherit;
}

/* Combobox Caret */
[__ComboBoxWidget].toggle {
	font-size: 1.5em;
}

.gbc_UserInterfaceWidget .gbc_chromeBarContainer:not(:empty) {
	border-bottom: none;
}

.gbc_GroupTitleWidget {
	background-color: $theme-header-color;
}

.gbc_FormWidget {
	margin-top: 4px;
}
