
BODY {
	/*font-family: "Lato", Helvetica, Arial, sans-serif; */
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	margin: 0px 0px 0px 0px;
}

// get rid of bookmarks option
.gbc_ApplicationHostMenuBookmarkWidget {
	display: none !important;
}

.vanished {
	max-width: 1px;
}

.mt-field {
	border-radius: 4px;
}

.mt-toolbar {
	box-shadow: none;
}

.mt-button {
	box-shadow: none;
	background-color: inherit;
	color: inherit;
	border: 1px dashed inherit;
}	

.mt-field {
	padding: 6px 12px;
	outline: 0;
}

.mt-field:focus {
	border-color: #66afe9;
	outline-offset: -2px;
}

[__ButtonWidget].mt-button .textimage > .gbc_imageContainer > .gbc_ImageWidget {
	fill: inherit;
}


.mt-button:not(.disabled):hover, .mt-button[interruptable][interruptable-active]:hover {
	background-color: inherit;
	box-shadow: inset 0 1px 2.4px rgba(0, 0, 0, 0.24);
}

.gbc_ButtonWidget {
	background-color: inherit;
	color: inherit;
	font-size: 14px;
	font-weight: 700;
}


/* Combobox Caret */
[__ComboBoxWidget].toggle {
	font-size: 1.5em;
}

.gbc_FolderWidget {
	padding: 0px;
}
.mt-tab-items[__FolderWidget] {
	padding: 0px;
}
.gbc_UserInterfaceWidget .gbc_chromeBarContainer:not(:empty) {
	border-bottom: none;
}

.mt-tab-titles {
	border-bottom: 1px solid $theme-primary-emphasis-background-color;
}

