
BODY {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	margin: 0px 0px 0px 0px;
}

// get rid of bookmarks option
.gbc_ApplicationHostMenuBookmarkWidget {
	display: none !important;
}

.vanished {
	max-width: 1px;
}

.mt-field {
	border-radius: 4px;
}

.mt-button {
	box-shadow: none;
	background-color: inherit;
	color: inherit;
}	

.mt-field {
	padding: 6px 12px;
	outline: 0;
}

.mt-field:focus {
	border-color: #66afe9;
	outline-offset: -2px;
}

// allow a window to center in the browser
.gbc_style_center {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-position: center !important;
}

// add a border to the form
.gbc_style_formborder {
	margin: 10px;
	box-shadow: 4px 4px 6px $theme-primary-emphasis-background-color;
	border-radius: 2.4px;
}

// get the toolbar to center in the browser tab with a min width
.gbc_WindowWidget .gbc_WindowToolbarContainer {
	margin-left: auto;
	margin-right: auto;
	min-width: 1024px;
}

// set a min width for forms to line up with the toolbar
.gbc_WindowWidget_position_center .gbc_FormWidget.notOverflownX > .containerElement > *, .gbc_WindowWidget_position_center2 .gbc_FormWidget.notOverflownX > .containerElement > * {
	min-width: 1024px;
}

.gbc_style_link {
	background-color: inherit !important;
	color: $mt-button-primary-background-color !important;
}

.gbc_style_loginbut {
	border-radius: 27px;
	border-style: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	padding: 0 30px;
	line-height: 55px;
	background-color: #f7931e;
}
.gbc_style_loginbut:not(.disabled):hover {
	background-color: #e7830e;
}

.gbc_style_green {
	background-color: #5cb85c !important;
	color: white !important;
}

.gbc_style_red {
	background-color: red !important;
	color: white !important;
}

[__ButtonWidget].mt-button .textimage > .gbc_imageContainer > .gbc_ImageWidget {
	fill: inherit;
}

.gbc_style_rounded {
	border: 1px solid $mt-button-primary-background-color;
	border-radius: 4px;
  font-weight: 700;
	padding: 3px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	color: $mt-button-primary-background-color;
	fill: $mt-button-primary-background-color !important;
	background-color: inherit;
}

.mt-button:not(.disabled):hover, .mt-button[interruptable][interruptable-active]:hover {
	background-color: inherit;
	background: rgba(0,0,0,0.5);
}

.gbc_MenuWidgetScrollContainer {
	color: $theme-primary-color;
	fill: $theme-primary-color;
	background-color: $theme-primary-emphasis-background-color;
}

.gbc_MenuWidget > .gbc_MenuWidgetScrollContainer .containerElement > * {
	margin: 2px;
	padding: 12px 15px;
	border-bottom: 2px solid $mt-button-primary-background-color;
}
￼
.gbc_ButtonWidget {
	background-color: inherit;
	color: white;
	font-size: 14px;
	font-weight: 700;
}


/* Combobox Caret */
[__ComboBoxWidget].toggle {
	font-size: 1.5em;
}
