
.gbc_FolderWidget {
	padding: 0px;
}

.mt-tab-items[__FolderWidget] {
	padding: 4px;
}

.gbc_TabbedContainerWidget > .mt-tabs > .mt-tab-items > .mt-tab-items-container {
	margin: 2px;
	padding: 4px;
}

.gbc_TabbedContainerWidget > .mt-tabs > .mt-tab-titles-bar {
	background-color: $theme-primary-emphasis-background-color;
	color: $theme-primary-color;
	fill: $theme-primary-color;
	line-height: 30px;
	padding: 0px;
}

.mt-tab-titles-container[__FolderWidget=top] .mt-tab-title.mt-tab-current {
	background-color: $theme-primary-color;
	border-bottom: solid 1px $theme-primary-color;
	color: $palette-text-secondary;
	fill: $palette-text-secondary;
}

.mt-tab-titles-container[__FolderWidget=top] .mt-tab-title {
	background-color: $theme-primary-faded-background-color;
	border-radius: 8px 8px 0px 0px;
	border: solid 1px $theme-primary-faded-background-color;
	border-bottom: solid 1px $theme-primary-emphasis-background-color;
	color: $palette-text-secondary;
	fill: $palette-text-secondary;
}

.mt-tab-titles-bar[__FolderWidget=top], .mt-tab-titles-bar[__FolderWidget=bottom] {
	background-color: $theme-header-color;
	line-height: 26px;
	padding: 8px 8px 0 0px;
}
