
// set a min width for forms to line up with the toolbar
.gbc_WindowWidget_position_center .gbc_FormWidget.notOverflownX > .containerElement > *, .gbc_WindowWidget_position_center2 .gbc_FormWidget.notOverflownX > .containerElement > * {
  min-width: 1024px;
}

.gbc_WindowWidget .gbc_WindowMenuContainerRight, .gbc_WindowWidget .gbc_WindowMenuContainerLeft {
  margin-top: 0px;
}

.gbc_WindowMainContainer > .gbc_WindowMenuContainerMiddle > .gbc_WindowContent {
  padding: 0px;
}

.gbc_WindowWidget .gbc_WindowMenuContainerMiddle {
  box-shadow: none;
}

